<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/customStyles.css') }}"
    />
      <title>Document</title>
   </head>
   <body class="bg-customWhite">
      <!-- Main Content -->
      <main class="flex items-center justify-center h-screen">
         <!-- Login Section -->
         <div class="flex flex-col md:flex-row items-center bg-gray-100 shadow-lg rounded-lg p-6 space-x-0 md:space-x-12">
            <!-- Form -->
            <div class="w-full md:w-1/2">
               <h1 class="text-2xl font-bold text-gray-800 mb-4">Войти</h1>
               <p class="text-gray-600 mb-6">Войти в свой аккаунт</p>
               <form class="space-y-4" method="post">
                  <div>
                     <label for="email" class="block text-gray-700 font-medium">Email</label>
                     <input type="email" name="email" id="email" placeholder="chic@mail.com" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-customGreen">
                  </div>
                  <div>
                     <label for="password" class="block text-gray-700 font-medium">Пароль</label>
                     <input type="password" name="password" id="password" placeholder="Password" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-customGreen">
                  </div>
                  <div class="text-center">
                     <a href="#" class="text-sm text-customBlack">Забыли пароль?</a>
                  </div>
                  <button type="submit" class="w-full px-4 py-2 bg-black text-white font-bold rounded-lg hover:bg-gray-800">ВОЙТИ</button>
               </form>
               <div class="flex items-center my-4">
                  <hr class="flex-grow border-customGray">
                  <span class="px-4 text-gray-600">или</span>
                  <hr class="flex-grow border-customGray">
               </div>

               <a href="/chooseClientOrStyle">
                  <button class="w-full px-4 py-2 bg-customWhite border border-gray-300 text-gray-700 font-bold rounded-lg hover:bg-gray-100">Зарегистрироваться</button>
               </a>
            </div>
            <!-- Assistant Section -->
            <div class="w-full md:w-1/2 flex justify-center">
               <div class="relative">
                  <img src="{{ url_for('static', filename= 'assets/img/png/janna-hello.png') }}" alt="Assistant" class="w-48 h-48 object-cover rounded-full">
                  <div class="absolute top-0 right-0 -mt-12 -mr-4 bg-customWhite p-4 rounded-lg shadow-md">
                     <p class="text-sm font-bold">Привет!</p>
                     <p class="text-sm">Я Жанна - твой персональный помощник</p>
                  </div>
               </div>
            </div>
         </div>
      </main>
   </body>
</html>