<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./static/css/output.css">
        <link rel="stylesheet" href="./static/css/customStyles.css">
        <title>Выбор пола</title>
     </head>
     <body class="bg-customGray flex flex-col items-center justify-center h-screen">
        <!-- Wrapper for Container and Stripes -->
        <div class="w-full max-w-4xl">
            <!-- Card Selection Section -->
            <div class="bg-customWhite p-8 shadow-md">
                <div class="flex justify-start items-start pb-5">
                    <img src="./static/assets/img/svg/logo.svg" alt="">
                </div>
                
                <h2 class="text-2xl font-bold mb-6 text-center">Выберите стиль</h2>
                <form method="POST">
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                        <!-- Карточка Casual -->
                        <label class="cursor-pointer">
                            <input type="radio" name="style" value="casual" class="hidden">
                            <div class="bg-gray-100 p-6 rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl card-selectable">
                                <img src="./static/assets/img/png/Casual.png" alt="Casual" class="w-full h-64 object-cover rounded-lg mb-4">
                                <h3 class="text-xl font-semibold text-gray-700 text-center">Casual</h3>
                            </div>
                        </label>
        
                        <!-- Карточка Спортивный стиль -->
                        <label class="cursor-pointer">
                            <input type="radio" name="style" value="sport" class="hidden">
                            <div class="bg-gray-100 p-6 rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl card-selectable">
                                <img src="./static/assets/img/png/Sport.png" alt="Спортивный стиль" class="w-full h-64 object-cover rounded-lg mb-4">
                                <h3 class="text-xl font-semibold text-gray-700 text-center">Спортивный стиль</h3>
                            </div>
                        </label>
        
                        <!-- Карточка Business casual -->
                        <label class="cursor-pointer">
                            <input type="radio" name="style" value="business" class="hidden">
                            <div class="bg-gray-100 p-6 rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl card-selectable">
                                <img src="./static/assets/img/png/Business.png" alt="Business casual" class="w-full h-64 object-cover rounded-lg mb-4">
                                <h3 class="text-xl font-semibold text-gray-700 text-center">Business casual</h3>
                            </div>
                        </label>
                    </div>
        
                    <!-- Navigation Buttons -->
                    <div class="flex justify-end mt-6">
                        <div class="border-2 border-customBlack rounded-full py-1 px-2 flex items-center">
                            <button type="submit" name="action" value="prev">
                                <img src="{{ url_for('static', filename='assets/img/png/prev.png') }}" alt="Previous">
                            </button>
                            
                            <!-- Separator -->
                            <div class="w-1 h-8 bg-customBlack mx-2"></div>
                            
                            <button type="submit" name="action" value="next">
                                <img src="{{ url_for('static', filename='assets/img/png/next.png') }}" alt="Next">
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    
            <!-- Green and Black Stripes -->
            <div class="w-full h-4 bg-customGreen"></div>
            <div class="w-full h-8 bg-customBlack"></div>

        </div>

        <div class="absolute right-28">
            <img src="./static/assets/img/png/janna-full.png" alt="">
        </div>

    </body>
</html>